/* mainbody */
body {
    background-color: #f5f5f5;
}

header {
    height: 175px;
}


#search-bar {

    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 500px;
}

#main {
    height: 100vh;
}

.title {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.subtitle {
    text-align: center;
}

label {
    padding: 10px;
    padding: 10px;
}

#side-col {
    margin-left: 300px;
    text-align: center;
}

#main-col {
    border-color: red;
    margin-right: 300px;
}

.Job1-side {
    border-color: red;

}

.Job1-main {
    border-color: red;
}

.columns {
    border: 1px solid black;
}

.column {
    border: 1px solid blue;

}

aside {
    float: right;
    border: 1px solid red;
    height: 100vh;
    width: 60%;
}

button {
    float: right;
}

.footer {
    bottom: 0;
    margin-bottom: 0 !important;
}

.is-3 {
    cursor: pointer;
}

.columns .is-vcentered {
    border-radius: 10px;
}